{% extends 'base.html' %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django App!</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, iusto
      aspernatur quasi debitis iste necessitatibus et expedita voluptates saepe
      cumque magnam! Veniam adipisci temporibus repudiandae vitae voluptate
      delectus perspiciatis aliquid.
    </p>
    <div class="text-center">
      <a class="btn btn-dark" href="/signin/">SignIn</a>
      <a class="btn btn-secondary" href="/signup/">SignUp</a>
    </div>
  </section>
</main>
{% endblock %}
