{% extends 'base.html' %} {% block content %}

<main class="container">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
      <form action="/signin/" method="POST" class="card card-body">
        <h1 class="text-center">SignIn</h1>
        {{error}} {% csrf_token %}
        <div class="mb-3">
          <label for="username">Username:</label>
          <input
            type="text"
            name="username"
            class="form-control"
            placeholder="Username"
            id="username"
          />
        </div>
        <div class="mb-3">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Write your password"
            id="password"
          />
        </div>
        <div class="text-center">
          <button class="btn btn-dark">SignIn</button>
        </div>
      </form>
    </section>
  </div>
</main>
{% endblock %}
